@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-serif: "Playfair Display", serif;
  --animate-bounce-slow: bounce-slow 3s infinite;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Custom Scrollbar for sleek aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #110f0e;
}

::-webkit-scrollbar-thumb {
  background: #2b2622;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d352f;
}
